/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';
@import 'form';
@import 'profile';
@import 'userImage';
@import 'comment';
@import 'tabs';
@import 'flash';
@import 'header';

body {
  font-family: $font-family;
  max-width: 600px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #333333
}

p {
  margin: 0
}

.hidden {
  display: none;
}

.mv {
  width: 100%;
  overflow: hidden;
  height: 300px;
  margin-top: 10px;
  &_image {
    object-fit: cover;
    width: 100%;
  }
}

.container {
  padding: 0 16px;
}