@import 'variables';

.card {
  margin-bottom: 20px;

  &_images {
    display: grid;
    gap: 10px; // 画像間の間隔
    margin-top: 10px;
    grid-template-columns: repeat(4, 1fr); // 4列レイアウトにする
    grid-template-rows: auto; // 高さは自動調整

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; // 枠内に収まるように調整
    }

    // 1枚目の画像は常に2列分の幅で表示
    img:nth-child(1) {
      grid-column: span 2;
      grid-row: span 2;
    }

    // 2枚目、3枚目は1/4の幅で表示（2列目、3列目の扱い）
    img:nth-child(2),
    img:nth-child(3) {
      grid-column: span 1;
    }

    // 4枚目以降は表示しない
    img:nth-child(n+4) {
      display: none; // スライダーを導入する場合はJavaScriptで対応
    }

    // 画像が1枚だけの場合はその画像をフルサイズ表示
    img:first-child:last-child {
      grid-column: span 4; // 4列全てを占める
    }
  }

  &_caption {
    font-size: 12px;
    margin-top: 10px;
  }

  &_actions {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }

  &_actionItem {
    display: block;
    width: 15px;
    aspect-ratio: 1/1;
    overflow: visible;
  }
}
