@import 'variables';

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr; // 左と右は1fr、中央はautoサイズ
  align-items: center;
  padding: 0 16px;
  margin-top: 30px;
  margin-bottom: 30px;
  &_left {
    grid-column: 1;  // 左のグリッド
    text-align: left;
    &__canceBtn {
      color: #2F80ED;
    }
  }

  &_center {
    grid-column: 2;  // 中央のグリッド
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  &_right {
    grid-column: 3;  // 右のグリッド
    text-align: right;
  }

  &_logo {
    max-width: 200px;
    object-fit: cover;
    height: auto;
  }

  &_avatar {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 50px;
  }
}

.header__allPage {
  display: grid;
  grid-template-columns: 1fr auto 1fr; // 左と右は1fr、中央はautoサイズ
  align-items: center;
  padding: 0 16px;
  margin-top: 15px;
  &_left {
    grid-column: 1;  // 左のグリッド
    text-align: left;
  }

  &_center {
    grid-column: 2;  // 中央のグリッド
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  }

  &_right {
    grid-column: 3;  // 右のグリッド
    text-align: right;
  }

  &_logo {
    max-width: 200px;
    object-fit: cover;
    height: auto;
  }

  &_avatar {
    width: 30px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
}
